
    <h2>Login</h2>
    <form [formGroup]="loginForm" novalidate (submit)="save(loginForm.value, loginForm.valid)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username" />
            <div [hidden]="loginForm.controls.username.valid || (loginForm.controls.username.pristine && !submitted)" class="text-danger">Username is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" />
            <div [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)" class="text-danger">Password is required</div>
        </div>
        <div   class="form-group">
            <button [disabled]="loginForm.valid==false" type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>